.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog{
    padding: 10px;
}

.dialog a{
    color:#fff;
    text-decoration: none;
    transition: .5s;
}

.dialog a:hover{
    color: gold;
}

.dialogsItems{
}

.messages{
    color: #222;
}

.message{
    padding: 10px;
}

.dialog a .active{
    color: yellow;
}